/* src/componentes/FormularioCadastro.css */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

div {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 30px;  /* Aumentar o padding para tornar os campos mais altos */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 30px;  /* Aumentar o padding para tornar o botão mais alto */
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
